build/
**/build/
**/build-*/
.vscode/
**/.vscode/*
**/build_*/

**/.venv/
**/__pycache__/
*.pyc
*.log
*.tmp
Thumbs.db

tmp/
output/
*.kicad_prl
*.kicad_pro.lck
*.kicad_sch.lck
*.kicad_pcb.lck
**/.history/

# Proteus local state and automatic backups
*.pdsprj.*.workspace
**/Project Backups/
**/*Autosaved*.pdsprj
